<a href="https://colab.research.google.com/github/qelmartinez/CPE310-IE22S1/blob/main/Martinez-Exercise_1_Variables%2C_expressions%2C_statements_and_conditional_execution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Exercise 1.1: Variables, Expressions, Statements and Conditional Execution**
Name: Martinez, Erica Lene R. <br>
Course & Section: CPE 310 - IE 22S1 <br>
Course Name: Fundamentals of Data Science <br>
Date: January 12, 2026 <br>

In [ ]:
print ("Part 1: Variables, Expressions, and Statements ")

Part 1: Variables, Expressions, and Statements

In [ ]:
#Exercise 2: Write a program that uses input to prompt a user for their name and then welcomes them.
name = input("Enter your name: ")
print ("Hello ", name + str(", Welcome!"))

Enter your name: Calene
Hello  Calene, Welcome!

In [ ]:
#Exercise 3: Write a program to prompt the user for hours and rate per hour to compute gross pay.

hours = float(input("Enter Hours: "))
rate = float(input("Enter Rate: "))
pay = rate * hours
print ("Pay:", round(pay))

Enter Hours: 8
Enter Rate: 10000
Pay: 80000

In [ ]:
#(#1)Exercise 4: Assume that we execute the following assignment statements:
#values
width = 17
height = 12

#print values
print (("width = ") , width)
print (("height = ") , height)

#soln
uno = width//2
dos = width/2
tres = height/3
quat = 1 + 2 * 5

#answer
print (("1 = ") + str("width//2 =") , uno)
print (("2 = ") + str("width/2 =") , dos)
print (("3 = ") + str("height/3 =") , tres)
print (("4 = ") + str(" + 2 * 5 =") , quat)

#types
print (type (uno))
print (type (dos))
print (type (tres))
print (type (quat))

width =  17
height =  12
1 = width//2 = 8
2 = width/2 = 8.5
3 = height/3 = 4.0
4 =  + 2 * 5 = 11
<class 'int'>
<class 'float'>
<class 'float'>
<class 'int'>

In [ ]:
#(#2)Exercise 4: Assume that we execute the following assignment statements:
#values
width = 17
height = 12

#print values
print (("width = ") , width)
print (("height = ") , height)

#outputs
print("width//2" , width//2 , type(width//2))
print ("width/2.0" , width/2.0 , type(width/2.0))
print ("height/3" , height/3 , type(height/3))
print ("1 + 2 * 5" , 1 + 2 * 5 , type(1 + 2 * 5))

width =  17
height =  12
width//2 8 <class 'int'>
width/2.0 8.5 <class 'float'>
height/3 4.0 <class 'float'>
1 + 2 * 5 11 <class 'int'>

In [ ]:
#Exercise 5: Write a program which prompts the user for a Celsius temperature, convert the temperature to Fahrenheit, and print out the converted temperature.

celsius = float(input("Enter Temperature in Celsius: "))
fahrenheit = (celsius * 9/5) + 32
print ("Temperature in Fahrenheit: " , fahrenheit)

Enter Temperature in Celsius: 20
Temperature in Fahrenheit:  68.0

In [ ]:
print ("Part 2: Conditional Execution")

Part 2: Conditional Execution

In [ ]:
#Exercise 1: Rewrite your pay computation to give the employee 1.5 times the hourly rate for hours worked above 40 hours.

#print
hours = float(input("Enter Hours: "))
rate = float(input("Enter Rate: "))

#formula
if hours <= 40:
  reg_pay = hours * rate
  print ("Pay:", round(reg_pay))

else:
  reg_pay = 40 * rate
  ot_pay = (hours - 40) * (rate * 1.5)
  total_pay = reg_pay + ot_pay
  print ("Pay:", round(total_pay))

Enter Hours: 48
Enter Rate: 10000
Pay: 520000

In [ ]:
#Exercise 2: Rewrite your pay program using try and except so that your program handles non-numeric input gracefully by printing a message and exiting the program. The following shows two executions of the program:

try:
  hours = float(input("Enter Hours: "))
  rate = float(input("Enter Rate: "))

except:
  print ("Error: Please input Numeric Values Only!")

Enter Hours: nine
Error: Please input Numeric Values Only!

In [ ]:
try:
  hours = float(input("Enter Hours: "))
  rate = float(input("Enter Rate: "))

except:
  print ("Error: Please input Numeric Values Only!")

Enter Hours: 10
Enter Rate: seven
Error: Please input Numeric Values Only!

In [ ]:
#Exercise 3: Write a program to prompt for a score between 0.0 and 1.0. If the score is out of range, print an error message. If the score is between 0.0 and 1.0, print a grade using the following table:

#score board
print ("Score      " + str("Grade"))
print (">= 0.9      " + str("A"))
print (">= 0.8      " + str("B"))
print (">= 0.7      " + str("C"))
print (">= 0.6      " + str("D"))
print ("< 0.6       " + str("F"))

try:
  grade = float(input ("Enter your Grade: "))
  grade_dos = float("Enter Your Grades: ")
  grade_tres = float("Enter Your Grades: ")
  grade_quat = float("Enter Your Grades: ")
  grade_quin = float("Enter Your Grades: ")

  if grade < 0.0 or grade > 1.0:
    print ("Error: Score is out of range. Please enter a score between 0.0 and 1.0.")
  elif grade >= 0.9:
    print ("Excellent! You got an A!")
  elif grade >= 0.8:
    print ("Good! You got a B!")
  elif grade >= 0.7:
    print ("You got a C!")
  elif grade >= 0.6:
    print ("You got a D!")
  else: # This covers grades between 0.0 and < 0.6
    print ("You got an F!")
    print (("I'm Sorry")) # Moved this here as it seems to relate to an 'F' grade

except ValueError:
  print ("Invalid Input. Please enter a numeric value for the grade.")

Score      Grade
>= 0.9      A
>= 0.8      B
>= 0.7      C
>= 0.6      D
< 0.6       F
Enter your Grade: 0.8
Invalid Input. Please enter a numeric value for the grade.